@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pdf-btn {
  font-style: normal;

  font-weight: 800;

  font-size: 18px;

  line-height: 24px;

  text-align: center;

  text-transform: uppercase;

  color: #ffffff;

  display: inline-block;

  padding: 16px 40px;

  background: #71b747;

  border-radius: 2px;

  border: 2px solid #61bb2a;

  font-family: "Manrope", sans-serif;

  transition: all 0.5s;

  text-decoration: none;
}

.wp-form form {
  margin-bottom: 120px;
}

.wp-form form p br {
  display: none;
}

.book-btn {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 16px 40px;
  background: #71b747;
  border-radius: 2px;
  border: 2px solid #61bb2a;
  font-family: "Manrope", sans-serif;
  transition: all 0.5s;
}

.book-btn:hover {
  color: #ffffff;
  background: #469618;
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #1d1d1d;
  padding-top: 27px;
  position: relative;
  z-index: 3;
  padding-bottom: 27px;
}

.coins {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

.header-bgText {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 38.5vw;
  line-height: 440px;
  position: absolute;
  top: 15%;
  left: 0%;
  z-index: 1;
  background: -webkit-linear-gradient(
    270deg,
    rgba(122, 219, 63, 17%),
    #ffffff00
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #1d1d1d;
}

.z-in2 {
  z-index: 2;
}

.p-rel {
  position: relative;
}

.bannerText {
  margin-top: 62px;
  text-align: center;
}

.bannerText h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 86px;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.bannerText p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
  margin-top: 19px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.bannerText .half1 {
  margin-top: 100px;
  margin-left: -35px;
}

.subheading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #71b747;
  text-align: center;
}

.heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 65px;
  text-align: center;
  color: #3d3d3d;
}

.join {
  padding-top: 57px;
  padding-bottom: 75px;
  position: relative;
  z-index: 2;
}

.join .row:nth-child(2) p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-transform: capitalize;
  color: #1f1f1f;
  margin-bottom: 43px;
}

.join .heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 65px;
  text-align: center;
  color: #3d3d3d;
  margin-top: 18px;
  margin-bottom: 22px;
}

.circ {
  position: absolute;
  top: -12%;
  bottom: -12%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  max-width: 1160px;
  width: 100%;
  height: 1160px;
  border-radius: 50%;
  background: linear-gradient(162.6deg, #ffffff 10.83%, #daf7c8 156.52%);
  animation: svgCirc 5s linear infinite;
}

@keyframes svgCirc {
  0%,
  100% {
    border-radius: 35% 75% 75% 35%/35% 35% 75% 75%;
  }
  25% {
    border-radius: 55% 45% 75% 25%/75% 45% 55% 35%;
  }
  50% {
    border-radius: 50% 50% 30% 65%/55% 25% 70% 45%;
  }
  75% {
    border-radius: 30% 65% 55% 40%/60% 65% 30% 35%;
  }
}

.itb {
  font-weight: bold;
  font-style: italic;
}

.half2 {
  margin-left: 100px;
  transform: rotate(-180deg);
}

.bg1 {
  background: url("../img/black-BG1.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: clip;
}

.heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 65px;
  color: #3d3d3d;
  margin-top: 8px;
  position: relative;
  z-index: 2;
}

.subheading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #71b747;
  position: relative;
  z-index: 2;
}

.bg1 .heading {
  color: #fff;
}

.bg1 .heading,
.bg1 .subheading {
  text-align: left;
}

.slidess {
  padding-right: 30px;
  padding-left: 30px;
}

.bg-N {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 260px;
  line-height: 75.1%;
  position: absolute;
  top: -10%;
  left: 0%;
  z-index: 1;
  background: -webkit-linear-gradient(
    300deg,
    rgba(255, 255, 255, 100%),
    #ffffff00
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #1d1d1d;
  opacity: 0.2;
}

.about-carousel {
  margin-top: 60px;
  margin-bottom: 150px;
}

.about-carousel .carousel-num {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 74px;
  line-height: 155.1%;
  color: #71b747;
}

.about-carousel .carousel-heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.about-carousel .carousel-content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9d9d9d;
  margin-top: 19px;
}

.about-carousel .read-more {
  font-family: "Manrope", sans-serif;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #7ec453;
  margin-top: 5px;
}

.circular-dot {
  width: 14px;
  height: 14px;
  background: #7ec453;
  border-radius: 50%;
}

.dot-border {
  padding: 10px;
  border: 1.8px solid #7ec453;
  display: inline-block;
  border-radius: 50%;
  background: #222222;
  z-index: 2;
  position: relative;
}

.carousel-indi {
  position: relative;
  margin-left: 20px;
}

.hr-line {
  position: absolute;
  top: 43%;
  transform: translate(10%, -43%);
  border: 1px solid #7ec453;
  width: 100%;
}

.hr-line2 {
  position: absolute;
  top: 43%;
  left: -30.5%;
  transform: translate(0%, -43%);
  border: 1px solid #7ec453;
  width: 40%;
}

.circle2 {
  position: absolute;
  width: 810px;
  height: 810px;
  left: -500px;
  bottom: -40%;
  background: #7ec453;
  border-radius: 50%;
  animation: svgCirc 9s linear infinite alternate forwards;
}

.bg-N2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 248px;
  position: absolute;
  top: 35%;
  left: 60%;
  z-index: 1;
  background: -webkit-linear-gradient(
    320deg,
    #ffffff00,
    rgba(255, 255, 255, 90%)
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #7ec453;
}

.magnet {
  position: absolute;
  top: 0%;
  right: -30%;
  z-index: 1;
  max-width: 60%;
  height: auto;
}

.abt-width {
  max-width: 95vw;
  margin-left: auto !important;
  margin-right: -15px;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  transform: translate(0px, -50%);
  border: 1px solid #7ec453;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.7;
}

.slick-prev:before,
.slick-next:before {
  color: #7ec453;
  line-height: 0.5;
  opacity: 1;
  font-weight: bold;
}

.slick-prev:hover,
.slick-next:hover {
  background: #7ec453;
  transition: all 0.2s;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #fff;
}

.slick-prev {
  left: 68%;
  top: -10%;
}

.slick-next {
  right: 17%;
  top: -10%;
}

.our-clients {
  padding-top: 165px;
}

.bg-N3 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 248px;
  line-height: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: -webkit-linear-gradient(
    300deg,
    #7ec453,
    rgba(255, 255, 255, 90%)
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #ffffff;
  opacity: 0.4;
}

.client-icons {
  margin-top: 46px;
  margin-bottom: 187px;
}

.bx-shdw {
  box-shadow: 0px 30px 48px rgba(78, 78, 78, 0.1);
  border-radius: 16px;
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
}

.bx-shdw:hover {
  transform: scale(1.2);
}

.clients-speak {
  background: linear-gradient(180deg, #ffffff00 10.83%, #daf7c8 156.52%);
  position: relative;
  padding-bottom: 140px;
}

.man-right {
  position: absolute;
  right: 0;
  top: -40%;
  width: 300px;
  text-align: right;
  background: #7ec453;
  animation: svgCirc 4s linear infinite alternate forwards;
}

.man-right img {
  animation: svgCirc 4s linear infinite alternate forwards;
}

.review-box {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(26, 34, 43, 0.08);
  border-radius: 10px;
  padding: 12px 24px;
}

.review-box h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #232323;
  margin-bottom: 0;
  margin-left: 10px;
}

.review-box p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #232323;
}

.rev-time {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  margin-bottom: 0;
  margin-left: 10px;
}

.star-ratings {
  margin-top: 12px;
  margin-bottom: 12px;
}

.customer-reviews {
  padding-top: 135px;
  padding-bottom: 120px;
}

.rev-row1 {
  margin-top: 70px;
  margin-bottom: 32px;
}

.abt2-section {
  background: url("../img/black-BG2.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 190px;
  position: relative;
}

.who-we-are-BG {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.top-icon-box {
  text-align: center;
}

.top-icon-box h5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 10px;
}

.top-icon-box p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9d9d9d;
}

.mt-50px {
  margin-top: 50px;
}

.centerN {
  top: -15%;
  left: 50%;
  transform: translate(-50%);
}

.abt-neon2 {
  text-align: center;
}

.abt-neon2 .abt-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.abt-neon2 .heading {
  text-align: center;
  color: #ffffff;
}

.abt-neon2 .book-btn {
  margin-top: 25px;
}

.our-team {
  position: relative;
  overflow-x: clip;
  padding-top: 147px;
  padding-bottom: 107px;
}

.circle3 {
  width: 420px;
  height: 420px;
  background: #7ec453;
  border-radius: 50%;
  position: absolute;
  right: -15%;
  top: -10%;
  animation: svgCirc 5s linear infinite;
}

.circle5 {
  width: 475px;
  height: 475px;
  background: #7ec453;
  border-radius: 50%;
  position: absolute;
  right: -20%;
  top: -22%;
  animation: svgCirc 5s linear infinite;
}

.circle4 {
  width: 475px;
  height: 475px;
  background: #7ec453;
  border-radius: 50%;
  position: absolute;
  right: -22%;
  top: -200px;
  transform: rotate(90deg);
  animation: svgCirc 5s linear infinite alternate forwards;
}

.thisHide .col-md-3 {
  margin-top: 45px;
  display: none;
}

.thisHide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.load-more {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(162.6deg, #71b747 10.83%, #61bb2a 156.52%);
  border-radius: 2px;
  padding: 16px 56px;
  border: none;
  margin-top: 45px;
}

.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}

.top-img-box {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(26, 34, 43, 0.1);
  border-radius: 5px;
  padding-bottom: 30px;
  overflow: hidden;
  height: 100%;
}

.top-img-box img {
  transition: all 0.5s;
}

.top-img-box .linked {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #71ba45;
  color: #ffffff;
  font-size: 19px;
  z-index: 2;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.top-img-box div a {
  left: calc((100% - 50px) / 2);
  position: absolute;
  bottom: -15px;
  z-index: 3;
}

.top-img-box h3 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
  margin-top: 21px;
  margin-bottom: 5px;
  text-align: center;
}

.top-img-box p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #5db02a;
  text-align: center;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.top-img-box:hover img {
  transform: scale(1.1);
}

.what-we-do {
  background: #222222;
  padding-top: 96px;
  overflow: clip;
}

.what-we-do .subheading {
  margin-top: 20px;
}

.what-we-do .heading {
  text-align: center;
  color: #ffffff;
}

.what-we-do .sub-para {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 8px;
}

.what-we-do a.book-btn {
  margin-top: 24px;
}

.top-icon-box2 {
  background: #fff;
  padding: 24px;
  box-shadow: -8px 16px 18px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  height: 100%;
  margin-right: 25px;
  width: 19.8vw;
  text-align: center;
}

.top-icon-box2 img {
  margin: auto;
}

.top-icon-box2 .carousel-heading {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #3d3d3d;
  margin-top: 16px;
  margin-bottom: 16px;
}

.top-icon-box2 .carousel-content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #3d3d3d;
  margin-bottom: 0;
}

.what-we-do .container:nth-child(2) {
  margin-top: 65px;
  max-width: 90vw !important;
  margin-left: auto !important;
  margin-right: 0;
  margin-bottom: 108px;
}

.arrws-slick {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -45%;
  right: 10%;
}

.prev-ar,
.next-ar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #7ec453;
  background: none;
  color: #7ec453;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.prev-ar::before {
  content: "←";
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev-ar:hover,
.next-ar:hover {
  color: #fff;
  background-color: #7ec453;
}

.next-ar::before {
  content: "→";
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.what-we-do .container-fluid:nth-child(3) {
  border-top: 1px solid rgba(255, 255, 255, 0.17);
}

.what-we-do .container:nth-child(4) {
  padding-top: 102px;
  padding-bottom: 106px;
}

.img-N {
  margin-bottom: -25%;
}

.aboutN {
  margin-bottom: -30%;
}

.what-we-do .container:nth-child(4) .row:nth-child(2) {
  margin-top: 36px;
  margin-bottom: 40px;
}

.what-we-do .container:nth-child(4) .row:nth-child(2) img,
.what-we-do .container:nth-child(4) .row:nth-child(3) img {
  transition: all 0.3s;
}

.what-we-do .container:nth-child(4) .row:nth-child(2) img:hover,
.what-we-do .container:nth-child(4) .row:nth-child(3) img:hover {
  transform: scale(1.1);
}

.arwOnCircle {
  position: absolute;
  right: 0;
  top: -15vh;
}

.img-N2 {
  margin-bottom: -11%;
}

.our-work {
  padding-top: 137px;
}

.our-work .container {
  max-width: 1250px !important;
}

.arr-next:hover,
.arr-prev:hover {
  background: #7ec453;
  color: #ffffff !important;
}

video.vid {
  width: 100%;
  object-fit: cover;
  height: 395px;
  border-radius: 20px;
}

video.vid2 {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: 20%;
}

.tab-panel {
  margin-top: 64px;
  position: relative;
}

.tab-panel .tabs-outer-div {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.tab-panel .tabs-outer-div.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.tab-panel .tabs .tab-list {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.tab-panel .tabs .tab-list img {
  border-radius: 20px;
}

.edtech-category2,
.healthcare-category2,
.eatable-category2,
.fashion-category2,
.b2b-category2,
.education-category2,
.edtech-category3,
.healthcare-category3,
.eatable-category3,
.fashion-category3,
.b2b-category3,
.education-category3 {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  margin-top: 0%;
  display: block;
  border: 0px solid;
}

.edtech-category2.active,
.healthcare-category2.active,
.eatable-category2.active,
.fashion-category2.active,
.b2b-category2.active,
.education-category2.active,
.edtech-category3.active,
.healthcare-category3.active,
.eatable-category3.active,
.fashion-category3.active,
.b2b-category3.active,
.education-category3.active {
  visibility: visible;
  opacity: 1;
  width: 50px;
  height: 50px;
  margin-top: 5%;
  display: inline-block;
  border: 1px solid #7ec453;
}

.iphone-X {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.opacityDiv {
  position: absolute;
  top: 0;
  left: 0px;
  right: -4px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.opac-div1 {
  opacity: 70%;
  background: #ffffff;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 100%;
}

.opac-div2 {
  border-radius: 20px;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 100%;
}

.opac-div2 img {
  border-radius: 20px;
}

.visible-0 {
  visibility: hidden;
}

.our-work .container .row:nth-child(2) {
  margin-top: 53px;
}

.work-slider .work-company a {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #71b747;
  border: 2px solid #71b747;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 16px 0;
  background: #fff;
}

.work-slider .work-company a:hover {
  color: #71b747;
  text-decoration: none;
}

.work-slider .work-company .active {
  color: #fff;
  background-color: #71b747;
}

.work-slider .work-company .active:hover {
  color: #fff;
  text-decoration: none;
}

.arr-prev,
.arr-next {
  position: relative;
  border-radius: 50%;
  background: none;
  color: #7ec453;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.arr-prev::before {
  content: "←";
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arr-prev:hover,
.arr-next:hover {
  color: #7ec453;
}

.arr-next::before {
  content: "→";
  font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-span {
  float: left;
  width: 30px;
  height: 30px;
  background: #7ec453;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

#healthcare-category #eatable-category {
  display: none;
}

.when-hire-us {
  width: 85%;
  float: right;
}

.when-hire-us h5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
}

.when-hire-us p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #181818;
  margin-top: 16px;
}

.when-to-hire-us {
  padding-top: 116px;
  padding-bottom: 50px;
}

.when-to-hire-us .row:nth-child(2) {
  margin-top: 66px;
  margin-bottom: 60px;
}

.when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(4),
.when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(5),
.when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(6) {
  margin-top: 40px;
}

.when-to-hire-us .row:nth-child(3) {
  margin-bottom: 40px;
}

.faq {
  padding-top: 153px;
  background: linear-gradient(161.94deg, #ffffff 5.92%, #daf7c8 120.1%);
  padding-bottom: 228px;
}

.faq .row:nth-child(2) {
  margin-top: 53px;
}

.accordion-toggle {
  font-family: "Manrope", sans-serif;
  background: #fff;
  padding: 25px 34px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #232323;
  box-shadow: 0px 8px 16px rgba(26, 34, 43, 0.08);
  border-radius: 10px;
}

.accordion {
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.accordion-angle {
  position: absolute !important;
  top: calc((100% - 25px) / 2) !important;
  right: 22px !important;
  font-size: 25px !important;
  -webkit-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  transform: rotate(90deg);
  color: #5db02a;
}

.accordion h6.active .accordion-angle {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.accordion-content {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #4e4e4e;
  display: none;
  padding: 20px 34px 0px;
}

footer {
  padding-top: 204px;
  background-image: url("../img/footerBG.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
  margin-top: -10%;
  overflow-x: clip;
}

.footer-bgText {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
}

.footform {
  margin-bottom: 120px;
}

.form-control {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #86899b;
  padding: 18px 26px;
  height: 56px;
  margin-top: 16px;
}

.footer-submit-btn {
  width: 100%;
  background: #71b747;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 17px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}

.footer-submit-btn:hover {
  background: #469618;
}

.footer-social {
  color: #ffffff;
  background: #383838;
  width: 25px !important;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}

footer .container-fluid:nth-child(4) {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #232323;
}

.what-we-do .container:nth-child(4) .row:nth-child(3) {
  margin-bottom: 40px;
}

/* slick slider arrows */

.our-work button.slick-prev {
  position: absolute;
  top: 42%;
  left: -90px;
  z-index: 99999999;
}

.our-work button.slick-next {
  position: absolute;
  top: 42%;
  right: -90px;
  z-index: 99999999;
}

/* end */

/* blog */

.blogs-section {
  margin-top: 60px;
  margin-bottom: 300px;
}

.blogs-section .main-blog-wrapper h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f1f1f;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

.blogs-section .main-blog-wrapper h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #7ec453;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content a {
  text-decoration: none;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content > div {
  display: flex;
  justify-content: space-between;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content > div span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1f1f1f;
  display: flex;
  align-items: center;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content > div span img {
  margin-right: 8px;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content h5 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  margin: 0;
  margin-top: 10px;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1f1f1f;
  margin: 0;
  margin-top: 5px;
}

.blogs-section .main-blog-wrapper .blog-wrap {
  position: relative;
}

.blogs-section .main-blog-wrapper .blog-wrap .category-name {
  position: absolute;
  top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  background-color: #7ec453;
  outline: none;
  border: none;
  padding: 6px 24px;
}

.blogs-section .main-blog-wrapper .blog-wrap .blog-content {
  margin-top: 15px;
}

.blogs-section .custom-page-navi {
  margin-top: 60px;
}

.blogs-section .custom-page-navi .prev-next > .wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs-section .custom-page-navi .prev-next > .wp-pagenavi span.current {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  border-radius: 50%;
  padding: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  background-color: #7ec453;
}

.blogs-section .custom-page-navi .prev-next > .wp-pagenavi a.page,
.blogs-section .custom-page-navi .prev-next > .wp-pagenavi a.nextpostslink,
.blogs-section .custom-page-navi .prev-next > .wp-pagenavi a.previouspostslink {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  border-radius: 50%;
  padding: 16px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  background-color: #7ec453;
}

.blogs-section .custom-page-navi .prev-next > .wp-pagenavi span.extend {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* color: white; */
  color: #000;
  border-radius: 50%;
  padding: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  /* background-color: #7ec453; */
  background-color: transparent;
}

.blog-right-section .categories h4,
.blog-right-section .latest-posts h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  position: relative;
  display: inline-block;
  margin: 0;
}

.blog-right-section .categories h4::after,
.blog-right-section .latest-posts h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #71b747;
}

.blog-right-section .categories ul {
  padding-left: 2rem;
  margin-bottom: 0;
  margin-top: 16px;
}

/* .blog-right-section .categories ul li {
  list-style-type: none;
} */

.blog-right-section .categories ul li a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1f1f1f;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  text-decoration: none;
}

.blog-right-section .categories ul li:not(:last-child) {
  margin-bottom: 8px;
}

.blog-right-section .categories ul li a:hover {
  color: #71b747;
  text-decoration: underline;
}

.blog-right-section .latest-posts,
.blog-right-section .categories {
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blog-right-section .categories {
  padding: 20px 20px;
}

.blog-right-section .latest-posts {
  margin-top: 40px;
  padding: 25px 20px;
}

.blog-right-section .latest-posts ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 16px;
}

/* .blog-right-section .latest-posts ul li {
  list-style-type: none;
} */

.blog-right-section .latest-posts ul li a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1f1f1f;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  text-decoration: none;
}

.blog-right-section .latest-posts ul li,
.blog-right-section .latest-posts ul li time {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1f1f1f;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
  text-decoration: none;
}

.blog-right-section .latest-posts ul li:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebebe;
}

.blog-right-section .latest-posts ul li a:hover {
  color: #71b747;
  text-decoration: underline;
}

.blog-right-section .latest-posts ul li {
  overflow: hidden;
}

/* end */

/* blog detailed page */

.blog-detailed {
  margin-top: 60px;
  margin-bottom: 300px;
}

.blog-detailed .blog-detailing h1 {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.blog-detailed .blog-detailing h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #71b747;
}

.blog-detailed .blog-detailing span {
  display: flex;
  align-items: center;
}

.blog-detailed .blog-detailing span img {
  margin-right: 5px;
}

.blog-detail-content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-top: 20px;
}

.blog-detailed-social-icons {
  margin-top: 40px;
}

.blog-detail-content img {
  margin-top: 30px;
}

.blog-detail-content h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.author {
  padding: 40px 40px;
  border: 1px solid #bebebe;
  margin-top: 40px;
}

.author .author-l {
  /* border: 1px solid var(--bordercolor); */
  /* padding: 20px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  width: 150px;
  height: 150px;
}

.author .author-1 img {
  border-radius: 50%;
}

.author .author-content h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.author .author-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1f1f1f;
  margin: 0;
  margin: 10px 0;
}

.author .author-content div span:first-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2218b7;
  margin: 0;
}

.author .author-content div span:nth-child(2) a:not(:last-child) {
  margin-right: 5px;
}

/* end */

/* blog banner */

.blog-banner {
  width: 100%;
  height: 401px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/blog-banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bb-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.blog-banner .container {
  position: absolute;
}

.blog-banner h4 {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin: 0;
}

/* end */

/* privacy policy page */

.privacy-policy-p {
  margin-bottom: 300px;
}

.wpcf7-response-output {
  color: #fff;
  margin: 0;
}

/* end */

@media (max-width: 991px) {
  /* slick slider arrows */

  .our-work button.slick-prev {
    position: absolute;
    top: 42%;
    left: -70px;
    z-index: 99999999;
  }

  .our-work button.slick-next {
    position: absolute;
    top: 42%;
    right: -70px;
    z-index: 99999999;
  }

  /* end */
}

@media only screen and (max-width: 767px) {
  /* blog page */

  .slick-prev:hover::before, .slick-next:hover::before {
    color: #7ec453;
  }

  .blog-detailed-social-icons {
    margin-top: 20px;
  }

  .blogs-section,
  .blog-detailed {
    margin-top: 40px;
    margin-bottom: 150px;
  }

  .blogs-section .main-blog-wrapper h1,
  .blog-detailed .blog-detailing h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .main-blog-wrapper .row .col-lg-6:not(:first-child) {
    margin-top: 30px;
  }

  .blogs-section .main-blog-wrapper .blog-wrap .blog-content h5 {
    margin-top: 16px;
  }

  .blogs-section .main-blog-wrapper .blog-wrap .blog-content p {
    margin-top: 10px;
  }

  .blogs-section .custom-page-navi {
    margin-top: 40px;
  }

  .blogs-section .col-md-4 {
    margin-top: 40px;
  }

  .blog-right-section .categories {
    padding: 20px 16px;
  }

  .blog-detail-content h4 {
    font-size: 22px;
    line-height: 30px;
  }

  .author {
    padding: 28px 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .author .author-l {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  /* end */
  /* slick slider arrows */

  .our-work button.slick-prev {
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 99999999;
    background-color: white;
  }

  .our-work button.slick-next {
    position: absolute;
    top: 42%;
    right: 5px;
    z-index: 99999999;
    background-color: white;
  }

  /* end */

  .who-we-are-BG {
    display: none;
  }

  .bannerText {
    margin-top: 100px;
    text-align: center;
  }

  .bannerText h2 {
    font-size: 35px;
    line-height: 50px;
  }

  .bannerText p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 40px;
  }

  .coins {
    bottom: -20px;
    z-index: 3;
    width: 50%;
  }

  .circle3 {
    width: 150px;
    height: 150px;
    right: -10%;
    top: -2.5%;
  }

  .join .heading {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 22px;
  }

  .circle5 {
    width: 150px;
    height: 150px;
    right: -10%;
    top: -10%;
  }

  .img-N2 {
    margin-bottom: -40%;
  }

  .heading {
    font-size: 28px;
    line-height: 38px;
  }

  .hr-line2 {
    position: absolute;
    top: 43%;
    left: -25%;
    transform: translate(0%, -43%);
    border: 1px solid #7ec453;
    width: 40%;
  }

  .circle2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -150px;
    bottom: -10%;
    background: #7ec453;
    border-radius: 50%;
    animation: svgCirc 9s linear infinite alternate forwards;
  }

  .client-icons {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .bx-shdw {
    box-shadow: 0px 30px 48px rgb(78 78 78 / 10%);
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    transition: all 0.5s;
  }

  .review-box {
    margin-bottom: 30px;
  }

  .clients-speak {
    overflow-x: clip;
    padding-bottom: 40px;
  }

  .review-box h5 {
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
  }

  .review-box p {
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    margin-bottom: 5px;
  }

  .star-ratings {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 25%;
  }

  .likeFont {
    font-size: 14px;
  }

  .rev-row1 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .bg-N2 {
    font-weight: 200;
    font-size: 85px;
  }

  .bg-N3 {
    font-weight: 200;
    font-size: 150px;
    top: 20%;
  }

  .bg-N {
    font-size: 150px;
    top: -50%;
  }

  .magnet {
    position: absolute;
    top: 5%;
    right: -25%;
    z-index: 1;
    max-width: 55%;
    height: auto;
  }

  .subheading {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 23px;
  }

  .man-right {
    position: absolute;
    right: -5%;
    top: -8%;
    z-index: 2;
    width: 120px;
    text-align: right;
    background: #7ec453;
    animation: svgCirc 4s linear infinite alternate forwards;
  }

  .our-clients {
    padding-top: 80px;
  }

  .slick-prev {
    left: 65%;
    top: -10%;
  }

  .slick-next {
    right: 5%;
    top: -10%;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
    transform: translate(0px, -50%);
    border: 1px solid #7ec453;
  }

  .about-carousel .carousel-num {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 0;
  }

  .about-carousel .carousel-content {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .about-carousel .carousel-heading {
    font-size: 20px;
    line-height: 28px;
  }

  .book-btn {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 22px;
  }

  .abt-width {
    margin-top: 30px;
  }

  .join .row:nth-child(2) p {
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 43px;
  }

  .half2 {
    margin-left: 10px;
    transform: rotate(-180deg);
  }

  .top-icon-box h5 {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 10px;
  }

  .top-icon-box p {
    font-size: 15px;
  }

  .abt2-section {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .aboutN {
    margin-bottom: -40%;
  }

  .abt-neon2 .abt-text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
  }

  .abt-neon2 .book-btn {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .top-img-box {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    height: auto;
  }

  .our-team .row:nth-child(2),
  .our-team .row:nth-child(3),
  .our-team .row:nth-child(4) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .our-team {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .top-img-box h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
  }

  .top-img-box p {
    font-size: 14px;
  }

  .our-team .row:nth-child(2) {
    margin-top: 35px;
    margin-bottom: 0px;
  }

  .top-icon-box2 {
    width: 75vw;
  }

  .what-we-do-carousel .slick-track {
    transform: translate3d(0px, 0px, 0px);
  }

  .arwOnCircle {
    position: absolute;
    right: 3vw;
    top: -10vh;
    width: 50%;
  }

  .circle4 {
    width: 220px;
    height: 220px;
    right: -30%;
    top: -130px;
  }

  .top-icon-box2 .carousel-heading {
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .arrws-slick {
    width: 32vw;
    top: -35%;
    right: 10%;
  }

  .what-we-do .container:nth-child(2) {
    margin-top: 110px;
    margin-bottom: 108px;
  }

  .what-we-do {
    padding-top: 50px;
  }

  .img-N {
    margin-bottom: -45%;
  }

  .what-we-do .sub-para {
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
  }

  .img-N-platform {
    margin-bottom: -85%;
  }

  .what-we-do .container:nth-child(4) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .what-we-do .container:nth-child(4) .row img {
    margin-bottom: 15px;
  }

  .what-we-do .container:nth-child(4) .row:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .what-we-do .colA {
    flex: 0 0 50%;
  }

  .when-hire-us h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .when-to-hire-us .row:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(4),
  .when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(5),
  .when-to-hire-us .row:nth-child(2) .col-lg-4:nth-child(6) {
    margin-top: 0;
  }

  .when-hire-us p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .work-slider-row {
    overflow-x: scroll;
  }

  .work-slider-row::-webkit-scrollbar {
    display: none;
  }

  .work-slider {
    width: 300%;
    flex-wrap: nowrap;
  }

  .work-slider .work-company a {
    font-size: 15px;
  }

  .our-work .container .row:nth-child(2) {
    margin-top: 35px;
  }

  .our-work {
    padding-top: 50px;
  }

  .opac-div1 {
    opacity: 70%;
    background: #ffffff;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
  }

  .opac-div2 {
    border-radius: 20px;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 100%;
  }

  .opacityDiv {
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
  }

  .tabs .tab-list {
    width: 185px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .arr-next {
    position: absolute;
    top: -74.5vw;
    right: 4vw;
    background: #ffffff !important;
  }

  .arr-next:hover,
  .arr-prev:hover {
    background: #71b747 !important;
    color: #fff !important;
  }

  .arr-prev {
    position: absolute;
    bottom: -74.5vw;
    left: 4vw;
    background: #ffffff !important;
    z-index: 2;
  }

  video.vidF {
    margin-top: -5px;
    margin-left: -10px !important;
    height: 390px;
  }

  .arrow-span {
    margin-top: 5px;
  }

  footer {
    padding-top: 100px;
    background-image: url(../img/footerBG.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
    margin-top: -10%;
    overflow-x: clip;
  }

  .footform {
    margin-bottom: 80px;
  }

  .wp-form form {
    margin-bottom: 80px;
  }

  .faq {
    padding-top: 0px;
    padding-bottom: 120px;
  }

  .faq .row:nth-child(2) {
    margin-top: 15px;
  }

  .accordion-toggle {
    padding: 15px 30px 15px 15px;
    margin-top: 15px;
    font-size: 17px;
    line-height: 27px;
    box-shadow: 0px 8px 16px rgb(26 34 43 / 8%);
    border-radius: 10px;
  }

  .accordion-content {
    font-size: 15px;
    line-height: 25px;
    padding: 16px 20px 0px;
  }

  footer .container-fluid:nth-child(4) .container .row div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .orderr-1 {
    order: 1;
  }
  .orderr-2 {
    order: 2;
  }
  .orderr-3 {
    order: 3;
  }

  .mt-50px,
  .mt-25px {
    margin-top: 25px;
  }

  .load-more {
    margin-top: 0 !important;
  }

  video.vidMB {
    width: 100%;
    object-fit: cover;
    height: 395px;
    border-radius: 20px;
    margin-left: -10px;
  }

  .thisHide .col-md-3:first-child {
    margin-top: 45px;
  }

  .thisHide .col-md-3 {
    margin-top: 20px;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  .arr-next {
    position: absolute;
    top: -73.5vw;
    right: 4vw;
    background: #ffffff !important;
  }

  .arr-next:hover,
  .arr-prev:hover {
    background: #71b747 !important;
    color: #fff !important;
  }

  .arr-prev {
    position: absolute;
    bottom: -73.5vw;
    left: 4vw;
    background: #ffffff !important;
    z-index: 2;
  }

  video.vidF {
    margin-top: 0px;
    margin-left: -10px !important;
    height: 400px;
  }

  video.vidMB {
    width: 100%;
    object-fit: cover;
    height: 395px;
    border-radius: 20px;
    margin-left: -10px;
  }
}

@media (max-width: 360px) {
  .tabs .tab-list {
    width: 49.5vw;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
